<h1>LIST OF THREADS</h1>

<h1>USER CHECK {{req.session.currentUser}}</h1>


{{!--START - template for COMMENTs. Will move this to thread-details.hbs once i fix that route --}}
<div class = "comments">
<div class="commentsHeader">
<div class ="commentPoster">Poster NAme</div>
</div>
</div>
<br>

<div class = "comments">
<div class="commentsHeader">
<div class ="commentPoster">Poster NAme</div>
</div>
</div>
<br>
{{!--END - TEMPLATE FOR COMMENTS  --}}
{{#each movies}} {{!--CHECK THE ROUTES AS YOU ADJUT YOU CAN SEE THE OBJECTS THAT NEED TO BE CHANGED  --}}
    <div>Title: {{title}}</div>
    <a href="/movies/{{_id}}">Details</a>

    <div> <a href="/movies/{{_id}}/edit">Edit Movie</a></div>

              <form id="like-form" action="/like/{{_id}}" name="likedMovies" value={{_id}} method="POST">
            <button>Like!</button>
           </form> 

<h1>MOVIE ID: {{_id}}</h1>

{{/each}}

{{!-- 

to hide this button if there is no active form desu.

{{#unless currentUser}}
              <form id="like-form" action="/like/{{_id}}" method="POST">
            <button>Like!</button>
           </form> 


 {{/unless}}


 --}}


 