

<h1>{{thread.title}}</h1>


{{!-- <h2>threadComments Check {{thread.threadComments}}</h2>
<h2>{{comments}}</h2> --}}



{{#unless currentUser}}
{{#each threadProper.threadComments}}
<h2>{{comments.[0].posterId.username}}</h2>

<div class = "comments">
<div class="commentsHeader">
<div class ="commentPoster">USERNAME{{posterId.username}} COMMENT POSTER ID{{posterId._id}}  </div>


</div>
{{text}}

</div>
<div class ="commentBtns">
{{!-- <button class ="editCommentBtn"> EDIT COMMENT</button> --}}
{{!-- if   Current user in session === Poster Id then avlaiable. --}}
{{#if canUserModify}}
  <div> <a href="/comment/{{_id}}/edit">EDIT COMMENT</a></div>
<form action="/comment/{{_id}}/delete" method="post">
    <button>DELETE COMMENT</button>
     {{#if threadId}}
  <input style="display: none" type="text" name="threadId" value="{{threadProper}}" />
 {{/if}}
</form>

{{else}}


{{/if}}
</div>
{{!-- /if  --}}
<br>
{{/each}}
{{/unless}}


{{#if currentUser}}
{{#each comments.threadComments}}
<h2>{{comments.[0].posterId.username}}</h2>

<div class = "comments">
<div class="commentsHeader">
<div class ="commentPoster">USERNAME{{posterId.username}} COMMENT POSTER ID{{posterId._id}}  </div>


</div>
{{text}}

</div>
<div class ="commentBtns">
{{!-- <button class ="editCommentBtn"> EDIT COMMENT</button> --}}
{{!-- if   Current user in session === Poster Id then avlaiable. --}}
{{#if canUserModify}}
  <div> <a href="/comment/{{_id}}/edit?threadId={{../threadProper._id}}">EDIT COMMENT</a></div>
<form action="/comment/{{_id}}/delete" method="post">
    <button>DELETE COMMENT</button>
     {{#if threadId}}
  <input style="display: none" type="text" name="threadId" value="{{threadProper}}" />
 {{/if}}
</form>


{{else}}


{{/if}}
</div>
{{!-- /if  --}}
<br>
{{/each}}
{{/if}}
<div>
   BIG TEST {{threadProper._id}}
  
</div>

<div>
     USER IN SESSION: {{currentUser._id}}
</div>

<form action="/threads/{{threadProper._id}}" method="post">
    <button>Post</button>
    <div>
    {{!-- <input class ="commentBox" type="text" name="text"> --}}
    <textarea data-name="com"  placeholder="Comment" class="commentBox" name="text" autocomplete="off"></textarea>
    </div>

</form>


<form action="/threads/{{_id}}/delete" method="post">
    <button>Delete Post</button>
</form>

