<h1>LIST OF THREADS</h1>

<h1>USER CHECK {{req.session.currentUser}}</h1>


{{!--START - template for COMMENTs. Will move this to thread-details.hbs once i fix that route --}}
<div class = "comments">
<div class="commentsHeader">
<div class ="commentPoster">Poster NAme</div>
</div>
</div>
<br>

<div class = "comments">
<div class="commentsHeader">
<div class ="commentPoster">Poster NAme {{!--title in each loop--}}</div>
</div>
</div>
<br>


{{!-- CORRECT WAY TO GET THREAD TITLE FORM OUR threads COLLECTION --}}
{{threads.[0].title}}

{{!-- Getting each Thread title to be listed --}}
{{!-- will have  the comments array but no need to list them on this page --}}
{{!-- Populate comments array on the thread details page. --}}
{{#each threads}}
<div>

{{title}}
 <a href="/movies/{{_id}}">View Thread</a>
{{!-- 
<div class = "comments">
<div class="commentsHeader">
<div class ="commentPoster">Poster NAme</div>
</div>
</div>
<br> --}}

</div>



{{/each}}



{{!--END - TEMPLATE FOR COMMENTS  --}}
{{#each movies}} {{!--CHECK THE ROUTES AS YOU ADJUT YOU CAN SEE THE OBJECTS THAT NEED TO BE CHANGED  --}}
    <div>Title: {{title}}</div>
    <a href="/movies/{{_id}}">Details</a>

    <div> <a href="/movies/{{_id}}/edit">Edit Movie</a></div>

              <form id="like-form" action="/like/{{_id}}" name="likedMovies" value={{_id}} method="POST">
            <button>Like!</button>
           </form> 

<h1>MOVIE ID: {{_id}}</h1>

{{/each}}

{{!-- 

to hide this button if there is no active form desu.

{{#unless currentUser}}
              <form id="like-form" action="/like/{{_id}}" method="POST">
            <button>Like!</button>
           </form> 


 {{/unless}}


 --}}


 