


<h1>
     USER IN SESSION: {{currentUser.username}}
</h1>
<div class="threadTitleLine">
<h1>{{threadProper.title}}</h1> 
{{#if canRemoveThread}}

<span><form class="threadDelBtn" action="/thread/{{threadProper._id}}/delete" method="post">
    <button class="gamefaq-btn">DELETE THREAD</button></form></span>

{{/if}}
</div>


{{!-- <h2>threadComments Check {{thread.threadComments}}</h2>
<h2>{{comments}}</h2> --}}



{{#unless currentUser}}
{{#each threadProper.threadComments}}
<h2>{{comments.[0].posterId.username}}</h2>

<div class = "comments">
<div class="commentsHeader">
<div class ="commentPoster">USERNAME{{posterId.username}}  </div>

{{!-- COMMENT POSTER ID{{posterId._id}} COMMENTAGE: {{createdAt}} --}}
</div>
{{text}}

</div>
<div class ="commentBtns">
{{!-- <button class ="editCommentBtn"> EDIT COMMENT</button> --}}
{{!-- if   Current user in session === Poster Id then avlaiable. --}}
{{#if canUserModify}}
  <div> <a href="/comment/{{_id}}/edit">EDIT COMMENT</a></div>
<form action="/comment/{{_id}}/delete" method="post">
    <button id="comment-del-btn" class="gamefaq-btn">DELETE COMMENT</button>
     {{#if threadId}}
  <input style="display: none" type="text" name="threadId" value="{{threadProper}}" />
 {{/if}}
</form>

{{else}}


{{/if}}
</div>
{{!-- /if  --}}
<br>
{{/each}}
{{/unless}}

{{!-- //=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

//※※※※※※※※※※※※※※※※※LOGGED IN SECTION BELOW※※※※※※※※※※※※※※※※※※※※※※※※※

//=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- --}}
{{#if currentUser}}

{{#each comments}}


<div class = "comments">
<div class="commentsHeader">
  
<div class ="commentPoster">USERNAME: {{posterId.username}} | POSTED:{{minutes}} mins, {{hours}} hours, {{days}} days  ago</div>

{{!-- CREATED AT: {{createdAt}} --}}
{{!-- COMMENT POSTER ID: {{posterId._id}} --}}


</div>
{{text}}

</div>
<br>
<div class ="commentBtns">
{{!-- <button class ="editCommentBtn"> EDIT COMMENT</button> --}}
{{!-- if   Current user in session === Poster Id then avlaiable. --}}
{{#if canUserModify}}
  <button class="gamefaq-btn" onclick="window.location.href='/comment/{{_id}}/edit?threadId={{../threadProper._id}}';" >EDIT COMMENT</button>
  <br>
  <br>



{{!-- ALWAYS DELETES THE FIRST ITEM IN THE EACH ISNTEAD OF WHAT YOU CLICK --}}
{{!-- Delete Button Which allows you to confirm if you want to delete with yes or no --}}
<h1>{{threadProper}}</h1>
<form id="form-id{{_id}}" class="deletetingBtn" action="/comment/{{_id}}/delete" method="post">
<div onclick="
if(confirm(`Are you sure you want to delete this comment?`)){

document.getElementById(`form-id{{_id}}`).submit();

} else {
  return
}
">DELETE TEST</div>
    {{#if threadId}}
  <input style="display: none" type="text" name="threadId" value="{{threadProper}}" />
 {{/if}}
</form>


{{!-- OTHER DELETE TEST --}}



{{!-- THIS DELETES WHAT YOU CLICK --}}

<form  action="/comment/{{_id}}/delete" method="post">
    <button id="comment-del-btn" class="gamefaq-btn">DELETE COMMENT</button>
     {{#if threadId}}
  <input style="display: none" type="text" name="threadId" value="{{threadProper}}" />
 {{/if}}
</form>



{{else}}


{{/if}}
</div>
{{!-- /if  --}}
<br>
{{/each}}
{{/if}}
<div>

  
</div>
<br>


<form action="/threads/{{threadProper._id}}" method="post">
    <button class="gamefaq-btn">Post</button>
    <div>
    <br>
    {{!-- <input class ="commentBox" type="text" name="text"> --}}
    <textarea data-name="com"  placeholder="Comment" class="commentBox" name="text" autocomplete="off"></textarea>
    </div>

</form>

<button id="testBtn">TEST ME</button>


