

<h1>{{thread.title}}</h1>


{{!-- <h2>threadComments Check {{thread.threadComments}}</h2>
<h2>{{comments}}</h2> --}}




{{#each thread.threadComments}}
<h2>{{comments.[0].posterId.username}}</h2>

<div class = "comments">
<div class="commentsHeader">
<div class ="commentPoster">{{posterId.username}}</div>

</div>
{{text}}
</div>
<br>


{{/each}}

<div>
   BIG TEST {{thread._id}}
</div>

<form action="/threads/{{thread._id}}" method="post">
    <button>Post</button>
    <div>
    {{!-- <input class ="commentBox" type="text" name="text"> --}}
    <textarea data-name="com"  placeholder="Comment" class="commentBox" name="text" autocomplete="off"></textarea>
    </div>

</form>


<form action="/threads/{{_id}}/delete" method="post">
    <button>Delete Post</button>
</form>

