<body class="profile-page">
  
<h3>Profile Page</h3>
<h4>{{userInSession.username}}</h4>
{{!-- views/users/user-profile.hbs --}}
 
 {{!-- userInSession in the if must match below> --}}

  {{!-- <h2>Welcome, {{ userInSession.username }}!</h2>
  <h2>{{userInSession.username}}'s Profile Page</h2> --}}
  
  <br>
  <br>  
  
  <h3><strong>YOUR THREADS:</strong></h3>

  

{{#each threads}}
<div>

 
{{title}}
 <a href="/threads/{{_id}}">View Thread</a>
</div>



{{/each}}


</body>




